USE_CUDA=1
GPU_WORKERS=2
CPU_WORKERS=2
GOOGLE_CLOUD_PROJECT=your-project-id
GOOGLE_CLOUD_BUCKET=my-video-bucket
GOOGLE_CLOUD_KEY={json_key}
GOOGLE_APPLICATION_CREDENTIALS=path/to/service-account.json
MODEL_PATH=scripts/model/rat_seg.pt
NODE_API=http://
PROGRESS_SECRET=your-progress-secret